
<div class="container">
    <div class="d-flex justify-content-center">
        <button class="btn btn-lg btn-primary"  onclick="window.location.href ='@Url.Action("GetData", "Weather")'">Home</button>
    </div>
</div>
