<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>404 error</h1>
        <button class="btn-default btn-lg" onclick="window.location.href ='@Url.Action("GetData", "Weather")'">Go To Home</button>

    </hgroup>
</body>
</html>
